Time_Machine/timemachinecontroller/home/pi/.node-red/flows_timemachinecontroller.json
[{"id":"9ac67d3e.a064c","type":"tab","label":"Video controller","disabled":false,"info":""},{"id":"26726dba.7772b2","type":"tab","label":"Crazy clock","disabled":false,"info":""},{"id":"6aa32df5.62e2a4","type":"tab","label":"Tests","disabled":false,"info":""},{"id":"1bcd75f8.00be4a","type":"tab","label":"NR backup","disabled":false,"info":""},{"id":"46c90e41.0f8f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"89091566.8e2f68","type":"mqtt in","z":"26726dba.7772b2","name":"","topic":"#","qos":"2","broker":"46c90e41.0f8f8","x":70,"y":40,"wires":[["e77f8bb7.2268c8"]]},{"id":"e77f8bb7.2268c8","type":"debug","z":"26726dba.7772b2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":40,"wires":[]},{"id":"59a4ec3f.d40854","type":"inject","z":"26726dba.7772b2","name":"backwards","topic":"","payload":"PWM,13,-2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["957e88a7.6b2528"]]},{"id":"957e88a7.6b2528","type":"function","z":"26726dba.7772b2","name":"","func":"msg.url = \"http://192.168.200.102/control?cmd=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["b98d4634.056238","c61381ce.52aa"]]},{"id":"2f417721.8dfd38","type":"inject","z":"26726dba.7772b2","name":"forward","topic":"","payload":"PWM,13,2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["957e88a7.6b2528"]]},{"id":"bc3ae357.98b9b","type":"inject","z":"26726dba.7772b2","name":"stop","topic":"","payload":"PWM,13,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["957e88a7.6b2528"]]},{"id":"b98d4634.056238","type":"debug","z":"26726dba.7772b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":200,"wires":[]},{"id":"3a02f4e3.fec0ac","type":"http in","z":"9ac67d3e.a064c","name":"","url":"/video","method":"get","upload":false,"swaggerDoc":"","x":80,"y":40,"wires":[["efefa84f.be2ef8","fe69cde8.1338b","549dfaf3.3b5d14"]]},{"id":"9a9a501f.2e80c","type":"debug","z":"9ac67d3e.a064c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":300,"wires":[]},{"id":"778624bf.4a169c","type":"http response","z":"9ac67d3e.a064c","name":"http response","statusCode":"","headers":{},"x":480,"y":40,"wires":[]},{"id":"5d67abd4.5e8c74","type":"template","z":"6aa32df5.62e2a4","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":290,"y":40,"wires":[["e0d0eb6e.66e4a8"]]},{"id":"164aca36.d5e8f6","type":"http in","z":"6aa32df5.62e2a4","name":"","url":"/hello-query","method":"get","swaggerDoc":"","x":120,"y":40,"wires":[["5d67abd4.5e8c74"]]},{"id":"e0d0eb6e.66e4a8","type":"http response","z":"6aa32df5.62e2a4","name":"","x":430,"y":40,"wires":[]},{"id":"efefa84f.be2ef8","type":"function","z":"9ac67d3e.a064c","name":"play video","func":"if (typeof msg.req.query.videoID !== 'undefined' && msg.req.query.videoID !== null){\n    //stop any playing video\n    msg.payload = \"/home/pi/scripts/stop_omxplayer.sh\";\n    node.send (msg);\n    //Load the requested video on omxplayer\n    node.status ({Text: \"Playing video \" + msg.req.query.videoID});\n    msg.payload = \"/usr/bin/omxplayer -b /home/pi/videos/\" + msg.req.query.videoID;\n    node.send (msg);\n    //Play the requested video on omxplayer\n    msg.payload = \"echo -n . >/tmp/cmd\";\n    node.send (msg);\n}","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["c776f2c6.c6e3a"]]},{"id":"65414865.c696b8","type":"file in","z":"1bcd75f8.00be4a","name":"flows_.json","filename":"/home/pi/.node-red/flows_timemachinecontroller.json","format":"utf8","sendError":true,"x":290,"y":40,"wires":[["e3363d14.fbd06"]]},{"id":"8a74153c.9fbb78","type":"file","z":"1bcd75f8.00be4a","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":650,"y":40,"wires":[]},{"id":"fac3bd93.7c8ec","type":"inject","z":"1bcd75f8.00be4a","name":"","topic":"","payload":"restarted","payloadType":"str","repeat":"","crontab":"","once":true,"x":90,"y":40,"wires":[["65414865.c696b8","ce1baa17.0aeb48"]]},{"id":"e3363d14.fbd06","type":"function","z":"1bcd75f8.00be4a","name":"","func":"msg.filename = \"/home/pi/.node-red/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_timemachinecontroller.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":40,"wires":[["8a74153c.9fbb78"]]},{"id":"ce1baa17.0aeb48","type":"file in","z":"1bcd75f8.00be4a","name":"flows_cred.json","filename":"/home/pi/.node-red/flows_timemachinecontroller.json","format":"utf8","sendError":true,"x":300,"y":100,"wires":[["7ca5680d.9ee378"]]},{"id":"478754be.689cfc","type":"file","z":"1bcd75f8.00be4a","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":650,"y":100,"wires":[]},{"id":"7ca5680d.9ee378","type":"function","z":"1bcd75f8.00be4a","name":"","func":"msg.filename = \"/home/pi/.node-red/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_timemachinecontroller_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":100,"wires":[["478754be.689cfc"]]},{"id":"c61381ce.52aa","type":"http request","z":"26726dba.7772b2","name":"","method":"GET","ret":"txt","url":"","x":690,"y":160,"wires":[[]]},{"id":"2c59ebb.4c2ae14","type":"http in","z":"26726dba.7772b2","name":"","url":"/crazyclock","method":"get","upload":false,"swaggerDoc":"","x":100,"y":260,"wires":[["4c84eba5.706194","2121dceb.789174"]]},{"id":"4c84eba5.706194","type":"http response","z":"26726dba.7772b2","name":"","statusCode":"","headers":{},"x":270,"y":280,"wires":[]},{"id":"2121dceb.789174","type":"function","z":"26726dba.7772b2","name":"","func":"if (typeof msg.req.query.action !== 'undefined')\n    var action = msg.req.query.action;\nelse\n    return null;\nif (typeof msg.req.query.speed !== 'undefined')\n    var speed = msg.req.query.speed;\nelse\n    var speed = 2;\nswitch (action) {\n    case \"forward\":\n        msg.payload = \"PWM,13,\" + speed;\n        break;\n    case \"backwards\":\n        msg.payload = \"PWM,13,-\" + speed;\n        break;\n    case \"stop\":\n        msg.payload = \"PWM,13,0\";\n        break\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["957e88a7.6b2528"]]},{"id":"2f6752d9.8ed25e","type":"link in","z":"26726dba.7772b2","name":"crazy clock in","links":["40a8c603.89d9a8"],"x":175,"y":340,"wires":[["bdf7c776.a72348"]]},{"id":"bdf7c776.a72348","type":"function","z":"26726dba.7772b2","name":"","func":"if (typeof msg.action !== 'undefined'){\n    switch (msg.action) {\n        case \"forward\":\n            msg.payload = \"PWM,13,2\";\n            break;\n        case \"backwards\":\n            msg.payload = \"PWM,13,-2\";\n            break;\n        case \"stop\":\n            msg.payload = \"PWM,13,0\";\n            break\n    }\n   return msg;\n} else return null;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["957e88a7.6b2528"]]},{"id":"40a8c603.89d9a8","type":"link out","z":"9ac67d3e.a064c","name":"","links":["2f6752d9.8ed25e","7af10ed8.14682"],"x":775,"y":220,"wires":[]},{"id":"fe69cde8.1338b","type":"function","z":"9ac67d3e.a064c","name":"backwards","func":"msg.action = \"backwards\";\nmsg.speed = Math.floor(Math.random() * 3);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["436e7ed9.0955"]]},{"id":"3f43923f.50caee","type":"function","z":"9ac67d3e.a064c","name":"forward","func":"msg.action = \"forward\";\nmsg.speed = Math.floor(Math.random() * 3);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["9969bd82.33102","40a8c603.89d9a8"]]},{"id":"6edba94c.33d188","type":"function","z":"9ac67d3e.a064c","name":"stop","func":"msg.action = \"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":120,"wires":[["40a8c603.89d9a8"]]},{"id":"436e7ed9.0955","type":"delay","z":"9ac67d3e.a064c","name":"","pauseType":"random","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"4","randomUnits":"seconds","drop":false,"x":400,"y":120,"wires":[["3f43923f.50caee"]]},{"id":"9969bd82.33102","type":"delay","z":"9ac67d3e.a064c","name":"","pauseType":"random","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"2","randomLast":"4","randomUnits":"seconds","drop":false,"x":700,"y":120,"wires":[["6edba94c.33d188"]]},{"id":"549dfaf3.3b5d14","type":"function","z":"9ac67d3e.a064c","name":"Redirect","func":"//redirect back to the calling page\nif (typeof msg.req.query.redirectURL !== 'undefined' && msg.req.query.redirectURL !== null){\n    msg.statusCode = 303; //\n    msg.headers = {\n    Location: \"http://192.168.200.110/\" + msg.req.query.redirectURL\n    }\n    node.error (\"Redirect to \" + \"http://192.169.200.110/\" + msg.req.query.redirectURL);\n    delete msg.payload;\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":240,"y":40,"wires":[["778624bf.4a169c","554453c1.10108c"]]},{"id":"554453c1.10108c","type":"debug","z":"9ac67d3e.a064c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":80,"wires":[]},{"id":"42acfb52.168354","type":"exec","z":"9ac67d3e.a064c","command":"ssh pi@192.168.200.118 ","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Run remote command tmmonitor","x":500,"y":320,"wires":[["9a9a501f.2e80c"],[],[]]},{"id":"c776f2c6.c6e3a","type":"link out","z":"9ac67d3e.a064c","name":"","links":["e7ac4ebe.4b096"],"x":335,"y":80,"wires":[]},{"id":"e7ac4ebe.4b096","type":"link in","z":"9ac67d3e.a064c","name":"run command tmmonitor","links":["c776f2c6.c6e3a","28c67052.c4e9"],"x":315,"y":320,"wires":[["42acfb52.168354"]]},{"id":"963fe078.bd12d","type":"inject","z":"9ac67d3e.a064c","name":"Stop video","topic":"","payload":"/home/pi/scripts/stop_omxplayer.sh","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["28c67052.c4e9"]]},{"id":"28c67052.c4e9","type":"link out","z":"9ac67d3e.a064c","name":"","links":["e7ac4ebe.4b096"],"x":215,"y":220,"wires":[]},{"id":"27ef8f6.7148a7","type":"comment","z":"1bcd75f8.00be4a","name":"","info":"This script creates backups of Node Red (NR) flows (configuration), every time the Deploy button is pressed.\nIn this way we will always have a backup of NR configuration before each change.","x":70,"y":160,"wires":[]},{"id":"5a454335.0297cc","type":"comment","z":"9ac67d3e.a064c","name":"","info":"Uses a web hook (GET) to read and parse requests, and play a video on TMMONITOR using remote ssh command.\nIt also randomly moves the crazy clock handles.","x":80,"y":400,"wires":[]}]