Time_Machine/Node-RED/Video_Controller.pretty.json
[
  {
    "id": "9a9a501f.2e80c",
    "type": "debug",
    "z": "9ac67d3e.a064c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 730,
    "y": 540,
    "wires": []
  },
  {
    "id": "778624bf.4a169c",
    "type": "http response",
    "z": "9ac67d3e.a064c",
    "name": "http response",
    "statusCode": "",
    "headers": {},
    "x": 580,
    "y": 200,
    "wires": []
  },
  {
    "id": "efefa84f.be2ef8",
    "type": "function",
    "z": "9ac67d3e.a064c",
    "name": "play video",
    "func": "if (typeof msg.req.query.videoID !== 'undefined' && msg.req.query.videoID !== null){\n    //stop any playing video\n    msg.payload = \"/home/pi/scripts/stop_omxplayer.sh\";\n    node.send (msg);\n    //Load the requested video on omxplayer\n    node.status ({Text: \"Playing video \" + msg.req.query.videoID});\n    msg.payload = \"/usr/bin/omxplayer -b /home/pi/videos/\" + msg.req.query.videoID;\n    node.send (msg);\n    //Play the requested video on omxplayer\n    msg.payload = \"echo -n . >/tmp/cmd\";\n    node.send (msg);\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 320,
    "y": 300,
    "wires": [
      [
        "c776f2c6.c6e3a"
      ]
    ]
  },
  {
    "id": "40a8c603.89d9a8",
    "type": "link out",
    "z": "9ac67d3e.a064c",
    "name": "",
    "links": [
      "2f6752d9.8ed25e",
      "7af10ed8.14682"
    ],
    "x": 835,
    "y": 100,
    "wires": []
  },
  {
    "id": "fe69cde8.1338b",
    "type": "function",
    "z": "9ac67d3e.a064c",
    "name": "backwards",
    "func": "msg.action = \"backwards\";\nmsg.speed = Math.floor(Math.random() * 3);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 130,
    "y": 100,
    "wires": [
      [
        "436e7ed9.0955"
      ]
    ]
  },
  {
    "id": "3f43923f.50caee",
    "type": "function",
    "z": "9ac67d3e.a064c",
    "name": "forward",
    "func": "msg.action = \"forward\";\nmsg.speed = Math.floor(Math.random() * 3);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 100,
    "wires": [
      [
        "9969bd82.33102",
        "40a8c603.89d9a8"
      ]
    ]
  },
  {
    "id": "6edba94c.33d188",
    "type": "function",
    "z": "9ac67d3e.a064c",
    "name": "stop",
    "func": "msg.action = \"stop\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 750,
    "y": 60,
    "wires": [
      [
        "40a8c603.89d9a8"
      ]
    ]
  },
  {
    "id": "436e7ed9.0955",
    "type": "delay",
    "z": "9ac67d3e.a064c",
    "name": "",
    "pauseType": "random",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "4",
    "randomUnits": "seconds",
    "drop": false,
    "x": 340,
    "y": 100,
    "wires": [
      [
        "3f43923f.50caee"
      ]
    ]
  },
  {
    "id": "9969bd82.33102",
    "type": "delay",
    "z": "9ac67d3e.a064c",
    "name": "",
    "pauseType": "random",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "2",
    "randomLast": "4",
    "randomUnits": "seconds",
    "drop": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "6edba94c.33d188"
      ]
    ]
  },
  {
    "id": "549dfaf3.3b5d14",
    "type": "function",
    "z": "9ac67d3e.a064c",
    "name": "Redirect",
    "func": "//redirect back to the calling page\nif (typeof msg.req.query.redirectURL !== 'undefined' && msg.req.query.redirectURL !== null){\n    msg.statusCode = 303; //\n    msg.headers = {\n    Location: \"http://192.168.200.110/\" + msg.req.query.redirectURL\n    }\n    node.error (\"Redirect to \" + \"http://192.169.200.110/\" + msg.req.query.redirectURL);\n    delete msg.payload;\n    return msg;\n}\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 320,
    "y": 220,
    "wires": [
      [
        "778624bf.4a169c",
        "554453c1.10108c"
      ]
    ]
  },
  {
    "id": "554453c1.10108c",
    "type": "debug",
    "z": "9ac67d3e.a064c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 570,
    "y": 240,
    "wires": []
  },
  {
    "id": "42acfb52.168354",
    "type": "exec",
    "z": "9ac67d3e.a064c",
    "command": "ssh pi@192.168.200.128 ",
    "addpay": true,
    "append": "",
    "useSpawn": "true",
    "timer": "",
    "oldrc": false,
    "name": "Run remote command tmmonitor",
    "x": 620,
    "y": 440,
    "wires": [
      [
        "9a9a501f.2e80c"
      ],
      [],
      []
    ]
  },
  {
    "id": "c776f2c6.c6e3a",
    "type": "link out",
    "z": "9ac67d3e.a064c",
    "name": "",
    "links": [
      "e7ac4ebe.4b096"
    ],
    "x": 455,
    "y": 300,
    "wires": []
  },
  {
    "id": "e7ac4ebe.4b096",
    "type": "link in",
    "z": "9ac67d3e.a064c",
    "name": "run command tmmonitor",
    "links": [
      "c776f2c6.c6e3a",
      "28c67052.c4e9"
    ],
    "x": 515,
    "y": 300,
    "wires": [
      [
        "42acfb52.168354",
        "edb11ef8.ee768"
      ]
    ]
  },
  {
    "id": "28c67052.c4e9",
    "type": "link out",
    "z": "9ac67d3e.a064c",
    "name": "",
    "links": [
      "e7ac4ebe.4b096"
    ],
    "x": 335,
    "y": 500,
    "wires": []
  },
  {
    "id": "5a454335.0297cc",
    "type": "comment",
    "z": "9ac67d3e.a064c",
    "name": "Readme",
    "info": "This video controller script uses a web hook (GET) to read and parse requests, and play a video on TMMONITOR using remote ssh command.\nIt also randomly moves the crazy clock handles.",
    "x": 80,
    "y": 40,
    "wires": []
  },
  {
    "id": "7a749c18.6a0fe4",
    "type": "inject",
    "z": "9ac67d3e.a064c",
    "name": "Pause video",
    "topic": "",
    "payload": "echo -n p >/tmp/cmd",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 600,
    "wires": [
      [
        "28c67052.c4e9"
      ]
    ]
  },
  {
    "id": "edb11ef8.ee768",
    "type": "debug",
    "z": "9ac67d3e.a064c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 710,
    "y": 320,
    "wires": []
  },
  {
    "id": "7b89342e.40640c",
    "type": "comment",
    "z": "9ac67d3e.a064c",
    "name": "Readme",
    "info": "This part controls the crazy clock handle",
    "x": 440,
    "y": 40,
    "wires": []
  },
  {
    "id": "d9f10994.ccb758",
    "type": "comment",
    "z": "9ac67d3e.a064c",
    "name": "Readme",
    "info": "This part redirects the web page on the Dashboardcontroller to a small description page, when the video is playing",
    "x": 740,
    "y": 200,
    "wires": []
  },
  {
    "id": "4396e334.07b5cc",
    "type": "comment",
    "z": "9ac67d3e.a064c",
    "name": "Readme",
    "info": "This part builds the command to play the video and sends it to tmmonitor to play it via a omxplayer pipe",
    "x": 740,
    "y": 240,
    "wires": []
  },
  {
    "id": "4cc6b868.d63878",
    "type": "debug",
    "z": "9ac67d3e.a064c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 330,
    "y": 160,
    "wires": []
  },
  {
    "id": "8c01629e.4b89c",
    "type": "inject",
    "z": "9ac67d3e.a064c",
    "name": "Pause video",
    "topic": "",
    "payload": "/home/pi/scripts/pause_omxplayer.sh",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 640,
    "wires": [
      [
        "28c67052.c4e9"
      ]
    ]
  },
  {
    "id": "963fe078.bd12d",
    "type": "inject",
    "z": "9ac67d3e.a064c",
    "name": "Stop video",
    "topic": "",
    "payload": "/home/pi/scripts/stop_omxplayer.sh",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 560,
    "wires": [
      [
        "28c67052.c4e9"
      ]
    ]
  },
  {
    "id": "3a02f4e3.fec0ac",
    "type": "http in",
    "z": "9ac67d3e.a064c",
    "name": "",
    "url": "/video",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 80,
    "y": 200,
    "wires": [
      [
        "efefa84f.be2ef8",
        "549dfaf3.3b5d14",
        "4cc6b868.d63878"
      ]
    ]
  },
  {
    "id": "4c070492.d1a45c",
    "type": "http request",
    "z": "9ac67d3e.a064c",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "",
    "x": 150,
    "y": 420,
    "wires": [
      [
        "549dfaf3.3b5d14"
      ]
    ]
  },
  {
    "id": "c8ccb324.12f68",
    "type": "inject",
    "z": "9ac67d3e.a064c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 320,
    "wires": [
      [
        "4c070492.d1a45c"
      ]
    ]
  }
]
